<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" placeholder="Enter Email" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" placeholder="Enter Password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
        <button class="btn btn-primary" onclick="randomName()" id="generate-button">Generate Username</button>
      </div>
      
      <div class="form-group">
        <label for="profile-picture-signup">Profile picture link:</label>
        <input class="form-input" type="text" placeholder="https://..." id="profile-picture-signup" />
        <button type="button" class="btn btn-primary" onclick="randomPic()" id="profile-pic-button">Generate Profile Pic</button>
      </div>

      <div>
        <img id="profile-picture-preview"  width="200">   
      </div>
     
      <div class="form-group">
        <label for="hometown-signup">Hometown:</label>
        <input class="form-input" type="text" placeholder="Enter Hometown" id="hometown-signup" />
      </div>
      
      <div class="form-group">
        <label for="birthday-signup">Birthday:</label>
        <input class="form-input" type="date" id="birthday-signup" />
      </div>
      
      <div class="form-group">
        <label for="bio-signup">Bio:</label>
        <input class="form-input" type="text" placeholder="Tell us a little about yourself..." id="bio-signup" />
      </div>

      
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" placeholder="Enter Email" id="email-signup" />
      </div>
      
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" placeholder="Enter Password" id="password-signup" />
      </div>


      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>
